<!DOCTYPE html>
<html>
<head>
  <title>Reporterr</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "reporterr/application", media: "all" %>
  <%= stylesheet_link_tag "reporterr", "data-turbo-track": "reload" %>
</head>
<body>

<%= yield %>

</body>
</html>
